DOCKER_IMAGE=1808561084/bionic-backend
DOCKER_TAG=latest

CI_ENVIRONMENT=production
APP_BASE_URL=https://cleaning.bionic-natura.cloud/
COOKIE_DOMAIN=cleaning.bionic-natura.cloud

TRAEFIK_NAME=bionic-backend
TRAEFIK_HOST=cleaning.bionic-natura.cloud
TRAEFIK_NETWORK=traefik-default
TRAEFIK_ENTRYPOINTS=websecure
TRAEFIK_TLS=true

DB_NAME=bionic_db
DB_USER=bionic_user
DB_PASS=change_me_in_production

CACHE_HANDLER=redis
CACHE_BACKUP_HANDLER=file
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

AUTO_SEED=true
SEED_FORCE=false
SEEDER_CLASS=MainSeeder